<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur w7d4.herokuapp.com, <%= @user.name %></h1> <!--changer nom url heroku-->
    <p>
      Vous êtes bien inscrit à w7d4.herokuapp.com,
      Ton nom est : <%= @user.name %>.<br>
    </p>
    <p>
      Pour te connecter sur le site, clique sur ce lien : <%= @url %>.
    </p>
    <p>Merci de nous avoir rejoint et passe une bonne journée !</p>
  </body>
</html>